.swpsld_mcont {
  position: relative;
  white-space: nowrap;
}

.swpsld_mrow {
  flex-wrap: nowrap !important;
  overflow: hidden;
}
.slditem_mcont {
  /* transform: translateX(-75%); */
  transition: translate 0.8s ease-in-out;
  flex-shrink: 0 !important;
  flex-grow: 2 !important;
}
.slditem_mcont_active {
  transform: translateX(0%);
}
