.main_cont {
  height: 100vh;
}
.main_row {
  height: 100%;
  align-items: center;
}
.show {
  display: block !important;
  transition: display 0.4s;
}
.font10 {
  font-size: 10px !important;
}
.font12 {
  font-size: 12px !important;
}
.font13 {
  font-size: 13px !important;
}
.font14 {
  font-size: 14px !important;
}
.font15 {
  font-size: 15px !important;
}
.font16 {
  font-size: 16px !important;
}
.font17 {
  font-size: 17px !important;
}
.font18 {
  font-size: 18px !important;
}
.font19 {
  font-size: 19px !important;
}
.font20 {
  font-size: 20px !important;
}
.font22 {
  font-size: 22px !important;
}
.font23 {
  font-size: 23px !important;
}
.font24 {
  font-size: 24px !important;
}
.font26 {
  font-size: 26px !important;
}
.font29 {
  font-size: 29px !important;
}
.font30 {
  font-size: 30px !important;
}
.font40 {
  font-size: 40px !important;
}
.font50 {
  font-size: 50px !important;
}
.font60 {
  font-size: 60px !important;
}
.font100 {
  font-size: 100px !important;
}

.fnt1rem {
  font-size: 1rem !important;
}
.fnt1_05rem {
  font-size: 1.5rem !important;
}
.fnt2rem {
  font-size: 2rem !important;
}
.fnt3rem {
  font-size: 3rem !important;
}
.fnt4rem {
  font-size: 4rem !important;
}
.fnt5rem {
  font-size: 5rem !important;
}
.fnt6rem {
  font-size: 6rem !important;
}
.fnt7rem {
  font-size: 7rem !important;
}
.txt_upcs {
  text-transform: uppercase;
}
.txt_white {
  color: var(--txt-white);
}
.txt_gray {
  color: var(--txt-lgtgray);
}
.btn_sumbt {
  display: inline-block;
  position: relative;
  border: 2px solid transparent;
  background-color: var(--prm_color) !important;
  border-radius: 0.5rem !important;
  color: white !important;
  outline: none !important;
  transition: all 0.4s !important;
  padding: 5px 8px !important;
  box-shadow: none !important;
  outline: none !important;
}
.btn_sumbtlt {
  display: inline-block;
  position: relative;
  border: 2px solid var(--prm_color) !important;
  background-color: rgba(49, 49, 49, 0.849);
  border-radius: 0.5rem !important;
  color: var(--prm_color) !important;
  outline: none !important;
  transition: all 0.4s !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
  outline: none !important;
}
.btn_sumbt:hover {
  background-color: #f1f1f1 !important;
  border-color: var(--prm_color) !important;
  color: var(--prm_color) !important;
}
.btn_sumbtlt:hover {
  background-color: var(--prm_color) !important;
  border-color: var(--prm_color) !important;
  color: white !important;
}
.btn_sumbt > h6,
.btn_sumbtlt > h6 {
  transition: all 0.4s !important;
  font-size: 13px !important;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
.btn_sumbt:hover > h6 {
  color: var(--prm_color) !important;
}
.btn_sumbtlt:hover > h6 {
  color: white !important;
}
.res_img {
  width: 100% !important;
  max-width: 100% !important;
}
.h-100vh {
  height: 100vh;
}
.w-100vw {
  width: 100vw;
}

.btn_cusmain {
  border-radius: 50rem;
  border: 2px solid var(--prm-org);
  padding: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: transparent;
  transition: all 0.4s;
  color: var(--txt-white) !important;
  text-transform: uppercase;
  font-size: 15px;
}
.btn_cusmain:hover {
  border-color: transparent;
}
.btn_tit {
  font-family: ssto;
  text-transform: uppercase;
  margin-bottom: 0;
}

.btn_cusmain .btn_tit {
  font-size: 1.5rem;
}
.btn_cusmain::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 50rem;
  transition: width 0.8s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  background: inherit;
}
.btn_cusmain:hover::before {
  width: 200%;
  border-radius: 0 50rem 50rem 0;
  transform: translate3d(-50%, 0, 0);
  transition: width 1s cubic-bezier(0.26, 1.04, 0.54, 1),
    transform 1s cubic-bezier(0.26, 1.04, 0.54, 1),
    -webkit-transform 1s cubic-bezier(0.26, 1.04, 0.54, 1);
  background: var(--btn-grdnt);
}
/*---------rvl_codes---------*/
.txt_bx {
  overflow: hidden !important;
  text-align: justify !important;
}
.txt_bx > p {
  line-height: 2rem;
}
.txt_rvl {
  transform: translateY(120%);
}
.txt_rvlwrp {
  overflow: hidden;
}
.txt_rvlwrp.rvl > .tit_rvl {
  transform: translateY(0%);
  transition: 0.4s ease-out;
  display: inline-block;
  opacity: 1;
}
.txt_rvlwrp.rvl > .txt_rvl {
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 1500ms
      cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1500ms cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.imgrvl_btt {
  position: relative;
}
.imgrvl_btt::after {
  content: "";
  position: absolute;
  background-color: var(--prm-black);
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform-origin: 100% 50%;
  transition: height 1s;
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}
.imgrvl_btt.dsbl::after {
  background-color: #efefef !important;
}
.imgrvl_btt.tmbr::after {
  background-color: var(--prm-black) !important;
}
.imgrvl_btt.rvl::after {
  height: 0%;
  transform-origin: 0% 50%;
}
.imgrvl_divcol {
  position: relative;
}
.imgrvlsl_imgcol {
  padding: 0px !important;
  background-color: var(--bdbs-bgcolor);
  overflow: hidden;
}

.imgrvl_divcol.imgrvl_btt.rvl > .prtsrv_img {
  opacity: 1;
  transition: 1s ease-out;
}
.imgrvl_slitm_img {
  transition: transform 0.4s, opacity 0.4s !important;
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

/* div.prjctslitm_mrow > a:hover > div.prjctslitm_immgcol > div.prjctslitm_imgcol > div.prjctslitm_imgcol > img{
  opacity: 0.4 !important;
  transform: scale(1.2);
} */
@-webkit-keyframes plcGlow {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
.plchld_col {
  height: 70vh;
}
.plchldr_anim {
  animation: plcAnim 2s ease-in-out infinite;
}

@keyframes plcAnim {
  50% {
    opacity: 0.2;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 3vw !important;
  }
}
